@import "tailwindcss";

@theme {
  --color-primary: #0d99ff;
  --color-primary-hover: #3daeff;
  --color-primary-active: #0a7acc;
  --width-canvas: 512px;
  --height-canvas: 512px;
}

@utility slider-input {
  width: 100%;
  height: 0.25rem;
  border-radius: 0.125rem;
  background-color: #1e1e1e;
  outline: none;
  appearance: none;
  cursor: pointer;

  &::-webkit-slider-thumb {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 9999px;
    background-color: var(--color-primary);
    cursor: pointer;
    transition: all 150ms;

    &:hover {
      background-color: var(--color-primary-hover);
      transform: scale(1.1);
    }

    &:active {
      background-color: var(--color-primary-active);
      transform: scale(0.95);
    }
  }

  &::-moz-range-thumb {
    width: 1rem;
    height: 1rem;
    border-radius: 9999px;
    background-color: var(--color-primary);
    cursor: pointer;
    border: none;
    transition: all 150ms;

    &:hover {
      background-color: var(--color-primary-hover);
      transform: scale(1.1);
    }

    &:active {
      background-color: var(--color-primary-active);
      transform: scale(0.95);
    }
  }
}
